html {
    overflow: hidden;
}
body {
	display: flex;
    flex-direction: column;
    justify-content: center;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
div {
	display: flex;
}
.today-link {
    position: absolute;
    z-index: 100;
    height: 25%;
    width: 50%;
    z-index: 2000000000000000;
}
.today-title-wrapper {
    flex-direction: row;
    width: 100%;
}
.todayAB-title {
    font-size: 24px;
    width: 50%;
    text-align: center;
    display: block;
}
.single-title {
    font-size: 24px;
    text-align: center;
    display: block;
}
.todayAB {
	flex-direction: row;
	border: solid 1px #000;
	height: 25%;
    width: 100%;
}
.todayA {
    width: calc(100% + 1px);
	border-right: solid 1px #000;
}
.today {
    flex-direction: column;
	height: 100%;
	width: 50%;
    color: #000;
    overflow: hidden;
}
.today-title {
	font-size: 20px;
    min-height: 15%;
    margin: 0 auto;
}
.today-img {
    min-height: 85%;
}
.iine-wrapper {
    position: absolute;
    z-index: 100;
    height: 25%;
    width: 50%;
}
.iine-box {
    margin: auto 1px 1px auto;
    background-color: #ffffff;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-bottom: solid 1px #000;
    height: 32px;
    width: 80px;
}
.iine-box-right {
    border-right: solid 1px #000;
}
.iine {
    margin: auto 0;
    font-size: 16px;
}
.heart {
    color: red;
    font-size: 24px;
    margin: auto 4px;
}
.sold-wrapper {
    position: absolute;
    z-index: 110;
    height: 25%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.today-sold {
	visibility: hidden;
    position: absolute;
    background-color: rgb(216, 117, 117);
    height: auto;
    width: 100px;
    justify-content: center;
    transform: rotate(15deg);
}
.sold {
    visibility: visible;
}
.gray-filter {
    filter: graysclae(50%);
}
.josetsu,.weeklyAB {
    display: flex;
    flex-direction: column;
}
.title-wrapper {
    width: 100%;
    display: block;
    text-align: center;
}
.josetsu-content-wrapper {
    border: solid 1px #000;
    flex-direction: column
}
.josetsu-content-upper,.josetsu-content-under {
    flex-direction: row;
    width: 25%;
    height: 10%;
    max-height: 10%;
    border-bottom: solid 1px #000;
}
.josetsu-content {
    border-right: solid 1px #000;
}