html {
    overflow: hidden;
}
body {
	display: flex;
    flex-direction: column;
	overflow: hidden;
	height: 100%;
    width: 100%;
    line-height: normal !important;
    background-color: rgb(47, 48, 69);
    color: floralwhite;
}
div {
	display: flex;
}
.cover-content {
    min-height: 100%;
    min-width: 100%;
}
.link {
    z-index: 100;
    transform: translateY(-100%);
}
.single-title {
    font-size: 16px;
    text-align: center;
    display: block;
}
.todayAB {
	flex-direction: row;
	min-height: 25%;
    width: 100%;
    margin-bottom: 4%;
}
.today {
    flex-direction: column;
	height: 100%;
	width: 50%;
    overflow: hidden;
    margin: 5px;
}
.today-title {
    font-size: 4.5vw;
    font-weight: bold;
    height: 15%;
    margin: 0 auto 5px;
}
.today-img {
    min-height: calc(85% - 5px);
}
.iine-wrapper {
    z-index: 4;
    transform: translateY(-200%);
}
.iine-box {
    margin: auto 0 -1px auto;
    background-color: gray;
    height: 32px;
    width: 64px;
}
.iine {
    margin: auto 0;
    color: rgb(47, 48, 69);
}
.iine-number {
    font-size: 16px;
    margin: auto 0;
}
.heart {
    color: red;
    font-size: 24px;
    margin: auto 4px;
}
.sold-wrapper {
    z-index: 3;
    justify-content: center;
    align-items: center;
    transform: translateY(-300%);
}
.today-sold {
	visibility: hidden;
    position: absolute;
    background-color: rgb(216, 117, 117);
    height: auto;
    width: 500px;
    justify-content: center;
    transform: translateY(16px) rotate(16deg);
    font-size: 8vw;
    font-weight: bold;
}
.other-sold {
    visibility: hidden;
    position: absolute;
    background-color: rgb(216, 117, 117);
    height: auto;
    width: 100px;
    justify-content: center;
    transform: translateY(5px) rotate(16deg);
    font-size: 4vw;
    font-weight: bold;
}
.sold {
    visibility: visible;
}
.gray-filter {
    filter: brightness(0.4);
}
.josetsu,.weekly {
    display: flex;
    flex-direction: column;
}
.josetsu {
    height: 30%;
    margin-bottom: 2.5%;
}
.weekly {
    height: 35%;
}
.title-wrapper {
    width: 100%;
    display: block;
    text-align: center;
}
.other-content-wrapper {
    flex-direction: column;
    height: auto;
}
.other-content-upper, .other-content-under {
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.other-content {
    overflow: hidden;
    width: 50%;
    height: 100%;
    flex-direction: column;
    margin: 0 3px;
}
.other-name {
    font-size: 3vw;
    display: block;
    height: 2vh;
    text-align: center;
    overflow: hidden;
    min-height: 2.5vh;

}
.other-iine-box {
    margin: auto 0 -1px auto;
    background-color: gray;
    height: 16px;
    width: 32px;
}
.other-iine {
    margin: auto;
    font-size: 8px;
}
.other-heart {
    color: red;
    margin: auto 2px;
}
.weekly-date {
    width: 25%;
    text-align: center;
    display: block;
    font-size: 2vh;
    font-weight: bold;
}