body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
div {
	display: flex;
}
.true {
	visibility: visible;
}
.todayAB {
	flex-direction: row;
	border: solid 1px #000;
	height: 25%;
	width: 100%;
}
.todayA {
	justify-content: center;
	height: 100%;
	width: 50%;
	border-right: solid 1px #000;
}
.todayB {
	justify-content: center;
	height: 100%;
	width: 50%;
}
.today-title {
	font-size: 20px;
}
.today-sold {
	visibility: hidden;
	position: fixed;
}
.iine-wrapper {
}
