form {
    opacity: 0;
}
.header {
    height: 40px;
}
.back-submit {
    height: 100%;
    width: 40px;
}
.back-button-icon {
    position: fixed;
    left: 0;
    margin: 4px;
    height: 32px;
    width: 32px;
}
.menu-image {
    min-height: 40%;
    height: 40%;
}

.icon-author {
    font-size: 0.1px;
}
