form {
    opacity: 0;
    z-index: 1000;
}
.header {
    height: 40px;
}
.back-submit {
    height: 100%;
    width: 40px;
}
.back-button-icon {
    position: fixed;
    left: 0;
    margin: 4px;
    height: 32px;
    width: 32px;
}
.menu-image {
    min-height: 45%;
    height: 45%;
}
.content-text-part {
    padding: 4px 0 0 4px;
    flex-direction: column;
}
.menu-name {
    font-size: 5.7vw;
    font-weight: bold;
}
.columun-content {
    flex-direction: column;
}
.menu-value {
    font-size: 5vw;
    font-weight: 500;
    width: 45%;
}
.menu-status-wrapper {
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 64px;
}
.status-wrapper {
    flex-direction: row;
    border-bottom: dashed 1px;
    margin-top: 8px;
}
.status-name, .status-value {
    width: 50%;
    margin-left: 8px;
}
.icon-author {
    font-size: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.iine-wrapper, .sold-wrapper {
    width: 25%;
    background: white;
    border-radius: 24px;
    margin: 0 8px 0 0;
    box-shadow: 2px 2px 4px 0 darkgrey;
}
.iine-wrapper:hover, .sold-wrapper:hover {
    filter: brightness(0.8);
}
.iine-form, .sold-form {
    height: 32px;
    width: 100%;
}
.form-title-wrapper {
    position: fixed;
    height: 32px;
    width: 25vw;
}
.form-title {
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 100%;
    font-size: 16px;
}
.heart {
    fill: red;
    width: 16px;
    height: 16px;
    transform: translateY(2px);
    margin: 0 4px;
}
.sold-status {
    font-size: 14px;
}
.status-submit {
    height: 100%;
    width: 100%;
}